<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletAltaServicio</servlet-name>
        <servlet-class>es.redmoon.tetburyss.alta.ServletAltaServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSesion</servlet-name>
        <servlet-class>es.redmoon.tetburyss.sesion.ServletSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerifyMail</servlet-name>
        <servlet-class>es.redmoon.tetburyss.verifymail.ServletVerifyMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLoginLinkedin</servlet-name>
        <servlet-class>es.redmoon.tetburyss.sesion.linkedin.ServletLoginLinkedin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestLinkedinLogin</servlet-name>
        <servlet-class>es.redmoon.tetburyss.sesion.linkedin.RequestLinkedinLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeRequesAPILinkedIn</servlet-name>
        <servlet-class>es.redmoon.tetburyss.sesion.linkedin.MakeRequesAPILinkedIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignServlet.servlet</servlet-name>
        <servlet-class>es.redmoon.tetburyss.conn.SignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CallbackServlet</servlet-name>
        <servlet-class>es.redmoon.tetburyss.conn.CallbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConnTetbury</servlet-name>
        <servlet-class>es.redmoon.tetburyss.servicios.ServletConnTetbury</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFBOauth</servlet-name>
        <servlet-class>es.redmoon.tetburyss.sesion.facebook.ServletFBOauth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaIdentidadFederada</servlet-name>
        <servlet-class>es.redmoon.tetburyss.sesion.ServletAltaIdentidadFederada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSesionCert</servlet-name>
        <servlet-class>es.redmoon.tetburyss.sesion.ServletSesionCert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAuthTwilio</servlet-name>
        <servlet-class>es.redmoon.tetburyss.alta.twilio.ServletAuthTwilio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTwilio</servlet-name>
        <servlet-class>es.redmoon.tetburyss.alta.twilio.ServletTwilio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwilioServlet</servlet-name>
        <servlet-class>es.redmoon.tetburyss.alta.twilio.TwilioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwilioVoiceServlet</servlet-name>
        <servlet-class>es.redmoon.tetburyss.alta.twilio.TwilioVoiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignServlet.servlet</servlet-name>
        <url-pattern>/SignServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaIdentidadFederada</servlet-name>
        <url-pattern>/ServletAltaIdentidadFederada.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSesion</servlet-name>
        <url-pattern>/ServletSesion.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaServicio</servlet-name>
        <url-pattern>/ServletAltaServicio.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerifyMail</servlet-name>
        <url-pattern>/ServletVerifyMail.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLoginLinkedin</servlet-name>
        <url-pattern>/ServletLoginLinkedin.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestLinkedinLogin</servlet-name>
        <url-pattern>/RequestLinkedinLogin.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeRequesAPILinkedIn</servlet-name>
        <url-pattern>/MakeRequesAPILinkedIn.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CallbackServlet</servlet-name>
        <url-pattern>/oauth2callback.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConnTetbury</servlet-name>
        <url-pattern>/ServletConnTetbury.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFBOauth</servlet-name>
        <url-pattern>/ServletFBOauth.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSesionCert</servlet-name>
        <url-pattern>/ServletSesionCert.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuthTwilio</servlet-name>
        <url-pattern>/ServletAuthTwilio.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTwilio</servlet-name>
        <url-pattern>/ServletTwilio.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwilioServlet</servlet-name>
        <url-pattern>/TwilioServlet.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwilioVoiceServlet</servlet-name>
        <url-pattern>/TwilioVoiceServlet.servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
